tr:nth-child(even)      { background-color: #e6e6e6;}
th, td                  { padding: 10px; text-align: center;}
th                      { background-color: #b3b3b3;}

.page                   { margin: 2% auto; width: 90%; border: 5px solid #ccc;
                        padding: 0.8em; background: white; }
.dropdown-menu          { min-width: 50px; text-align: center;}
.flash                  { margin: auto; width: 95%; padding: 0.5em;
                        border: 1px solid #aacbe2; border-radius: 5px 5px 5px 5px;}
.btn-link               {
                          font-weight: normal;
                          color: #000000;
                          border-radius: 0;
                        }
