{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
    <h3 class="text-center"><strong>An e-mail has been sent to the admin.</strong></h3><br>
    <h3 class="text-center"><strong>Your access level will be granted shortly!</strong></h3><br>
</div>
<a href="#" onclick="signOut();">
    <button type="button" class="btn btn-default" aria-label="signout" >
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <label for="signout">Back</label>
    </button></a>
{% endblock %}
