{% extends "layout.html" %}
{% block body %}
    <h2 align="center">Login only permitted with a Google Account</h2>
    <br><br><br><br><br><br>
    <form id="id_token_form" action="{{ url_for('verify') }}" method="POST">
        <input name="id" id="id_token_input" type="text" hidden></input>
    </form>
    <center><div id="my-signin2"></div></center>
    <br><br>
    <center><a href="https://accounts.google.com/login">Add Account</a></center>
    <br><br>
    <h4 class="text-right" style="color:red">If the login button doesn't appear. Please reload the page</h4>
{% endblock %}
{% block script %}
<script>
    var id_token = '';
    function onSuccess(googleUser) {
        var profile = googleUser.getBasicProfile();
        id_token = googleUser.getAuthResponse().id_token;
        $("#id_token_input").val(id_token);
        $("#id_token_form").submit();
        //debug info Delete in prod
        console.log(id_token);
        console.log('Logged in as: ' + profile.getName());
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());
    }
    function onFailure(error) {
        console.log(error);
    }
    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>
{% endblock %}
