<!doctype html>
<head>
	{% block head %}
	<title>{% block title %}PnVE3{% endblock %} </title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	{% endblock %}
</head>
<body>
<div class=page>
  <h1 align="center">Partnumber Database Viewer-Editor v3</h1>
<div style="overflow-x:auto">
	<table width=100%>
		<tr class="cols_db">
		{% for title in cols_db %}
			<th>{{title[1]}}</th>
		{% endfor %}
		</tr>
		<tr class="db_rows">
		{% for value in db_rows %}
			<td>{{ value[0] }}</td>
			<td>{{ value[1] }}</td>
			<td>{{ value[2] }}</td>
			<td>{{ value[3] }}</td>
			<td>{{ value[4] }}</td>
			<td>{{ value[5] }}</td>
			<td>{{ value[6] }}</td>
		</tr>
		{% else %}
		<em>No entries here so far</em>
		{% endfor %}
	</table>
</div>
</div>
</body>
