<!doctype html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %} PnVE3</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	{% endblock %}
</head>
<body>
<div class=page>
  <h1>Partnumber Database viewer-editor v3</h1>
<ul class="rowfromdb">
  {% for value in rowfromdb %}
    <li>{{ value.pn }} | {{ value.value }} | {{ value.param }} | {{ value.desc }} | {{ value.status }} 
		| {{ value.rohs }} | {{ value.datasheet }}
  {% else %}
    <li><em>No entries here so far</em>
  {% endfor %}
  </ul>
</div>
</body>
