{% extends "layout.html"%}
{% block body %}
    <div class="jumbotron">
        <h1 class="text-center"><strong>Partnumber Database Viewer-Editor v3</strong></h1>
    </div>
{# <!--Add entry--> #}
    {% if not session.get('logged_in_guest')%}
        <h3>Add row</h3>
        <hr>
        <form action="{{ url_for('add_tblxxx_entry') }}" method="post" class="form-inline" role="add_row_form">
            {% for col in cols %}
                {% if col != 'status' and col != 'rohs' and col !='pn' %}
                    <div class="form-group">
                        &nbsp; <label for="{{col}}">{{col}}: &nbsp; </label><input type="text" size="10" name="{{col}}" id="{{col}}">
                    </div>
                {% endif %}
                {% if col == 'status'%}
                    <div class="form-group dropdown">
                        <label for="{{col}}">&nbsp; {{col}}: &nbsp;</label>
                        <select class="form-control text-center" id="{{col}}" name="{{col}}">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                            <option value="deleted">Deleted</option>
                            <option value="n/a">n/a</option>
                        </select>
                    </div>
                {% endif %}
                {% if col == 'rohs'%}
                    <div class="form-group dropdown">
                        <label for="{{col}}">&nbsp;{{col}}:&nbsp;</label>
                        <select class="form-control text-center" id="{{col}}" name="{{col}}">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="n/a">n/a</option>
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group pull-right">
                <input type="submit" class="btn btn-success" value="Add"> &nbsp;&nbsp;
            </div>
        </form>
        <hr>
    {% endif %}
    <br>

{# <!--Table Dropdown--> #}
    <form action="{{ url_for('select_table') }}" method="POST" class="form-inline" role="select_table_form">
        <div class="form-group dropdown">
            <label for="selectedtable">Select Table:&nbsp;</label>
            <select class="form-control text-center" id="{{tbl}}" name="tbl_select" onchange="this.form.submit()">Table Select
                {% for tbl in tbls %}
                    {% if tbl == actual_tbl %}
                        <option name="selectedtable" value="{{tbl}}" selected>{{tbl}}</option>
                    {% else %}
                        <option name="selectedtable" value="{{tbl}}">{{tbl}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
    {% if not session.get('logged_in_guest') %}
        <div class="pull-right">
            <button class="btn btn-default" type="submit" name="mul_del" id="mul_del">Multiple Delete</button>
        </div>
    {% endif %}
    <br>
    <br>
    <br>


{# <!--Table view--> #}
    <div style="overflow-x:auto">
        <table class="table-hover">
{# <!--Table Header--> #}
    {% if rows == [] %}
            <hr>
                <p><strong><em>No entries here so far</em></strong></p>
            <hr>
    {% else %}
            <tr>
                <thead>
                {% for col in cols %}
                    <th>{{col}}</th>
                {% endfor %}
                {% if not session.get('logged_in_guest') %}
                    {% if session.get('logged_in_admin') %}
                        <th width="50px">Mod</th>
                    {% endif %}
                    <th width="50px">Del</th>
                    <th width="120px">Select<input type="checkbox" class="check pull-right" id="checkAll" data-toggle="tooltip" title="Select All"></th>
                {% endif %}
            </thead>
            </tr>
    {% endif %}
{% set cols_num = cols | length %}
            <form action="del_multiple_tblxxx_entry" id="multiple_delete" method="POST" class="pull-right" role="multiple_delete">
        {% for row in rows %}
            <tr>
                {% for i in range(cols_num) %}
                <td>{{ row[i] }}</td>
                    {% if i == 1 %}
                        {% set pn = row[i] %}
                    {% endif %}
                    {% if not session.get('logged_in_guest') %}
                        {% if i == (cols_num - 1) %}
                            {% if session.get('logged_in_admin') %}
                <td><a href="{{ url_for('mod_tblxxx_entry_page',pk=pn) }}" data-toggle="tooltip" title="Edit Record">
                    <button type="button" class="btn btn-link" aria-label="mod">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </td>
                            {% endif %}
                <td>
                    <button onclick="deleteOneEntry({{pn}})" data-toggle="tooltip" title="Delete Record" type="submit" class="btn btn-link" aria-label="delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <input class="check" id="mul_check" type="checkbox" name="multiple_del[]" value="{{pn}}">
                </td>
            </tr>
                        {% endif %} {# if i == (cols_num - 1) #}
                    {% endif %} {# if not session.get('logged_in_guest') #}
                {% endfor %} {# for i in range(cols_num) #}
        {% endfor %}
            </form>
        </table>
	</div>
{# <!--Add script location--> #}
{# <!--Script for checking all checkboxs--> #}
{% endblock %}
{% block script %}
    <script>
        var checkedValues = [];
        $("#checkAll").click(function() {
            checkedValues = [];
            $(".check").prop('checked', $(this).prop('checked'));
            $("input:checkbox[name=multiple_del[]]:checked").each(function(){
                checkedValues.push($(this).val());
            });
        });
        $("input:checkbox[name=multiple_del]").change(function() {
            if(this.checked) {
                checkedValues.push($(this).val());
                checkedValuesLength = checkedValues.length;
            }
            else {
                var index = checkedValues.indexOf($(this).val());
                if (index > -1) {
                    checkedValues.splice(index, 1);
                }
            }
        });
        function submitMultiDel() {
            console.log(checkedValues);
            $('#multiple_delete').submit();
        }
        function deleteOneEntry(pn) {
            confirm('Are you sure you want to delete this entry?')
            $.ajax({
                    method: "POST",
                    url: "{{ url_for('del_tblxxx_entry') }}",
                    data: { delete: pn }
            });
        }
        $("#mul_del").on('click', submitMultiDel);
    </script>
{% endblock %}
